@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

td {
   border: 2px solid #333;
   border-collapse: collapse;
   padding: 5px;
}

table {
   border-collapse: collapse;
}

body {
   font-family: "Roboto Mono";
}

.hidden {
   display: none;
}